body{
	background-color: skyblue;
/*	font-family: "sofia",sans-serif;*/
}
h1{
	color: blue;
}
p{
	color: orange;
}
#euro{
	text-align: center;
	color: red;
}
.pass{
	text-align: right;
	color: greenyellow;
	opacity: 0.6;
	font-size: 300%;
	outline-style: double;
}
body{
	background-image:url("Nissan GTR.jpg");
	background-repeat:repeat-y;
	background-size: cover;
}
.vans{
	border-style: groove;
	border-width: 10px;
	border-color: red green blue yellow;
}
#vans{
	border-bottom: 6px groove blue;/*css shorthand element*/
}
div{
	padding: 50px;
	width: 300px;
	background-color: yellow;
	box-sizing: border-box;
}
#coon{
	font-family: "Times New Roman", Times, serif;
	font-style: italic;
	font-weight: bold;
}
.jacquard-12-regular {
  font-family: "Jacquard 12", system-ui;
  font-weight: 400;
  font-style: normal;
}
