body{
	background-color: skyblue;
}
h1{
	color: blue;
}
p{
	color: orange;
}
#euro{
	text-align: center;
	color: red;
}
.pass{
	text-align: right;
	color: greenyellow;
	opacity: 0.6;
	font-size: 300%;
}
body{
	background-image:url("toyota supra.jpg");
	background-repeat:no-repeat;
	background-size: cover;
}